#!/usr/bin/make -f

# output every command that modifies files on the build system.
# export DH_VERBOSE = 1
#
# make debhelper commands more verbose
# export DH_OPTIONS = -v
#
# set HOME since go requires GOCACHE be set and the default ($HOME/.go-cache)
# will cause a build failure with sbuild.  Setting $HOME to $(CURDIR) is a
# default solution to this problem for some packages:
# 	https://lists.debian.org/debian-mentors/2018/08/msg00003.html
export HOME = $(CURDIR)

%:
	dh $@
